# Nix
/result

# Python
.venv
__pycache__

# devenv
.devenv
.devenv.*
.env.local
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# data files
/data/enwik[89]
/data/enwik[89].zip
